.highlight{
    font-style: italic;
    background-color: #0f0;
}

.other{
    background-color: rebeccapurple;
}

.boundary{
    background-color: aquamarine;
}

.linkstyle{
    background-color: brown;
}